@model List<DrinkModel>;


@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

@if (Model != null)
{

    <table class="table">
        <th>
        <td>Name</td>
        <td>Category</td>
        <td>Instructions</td>
        </th>

        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.Category</td>
                <td>@item.Instructions</td>
            </tr>
        }

    </table>
}
